footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 90px;
  padding-bottom: 64px;
  background-color: #131313;
}

footer section {
  display: flex;
  gap: 24px;
}

footer p {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600;
  color: white;
}
